*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif
}
body{
    font-weight: 400;
    background: url(./bacg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.footer{
    padding: 35px 0;
    background-color: #1b1b1b;
    margin-top: 350px;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:#aaa;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a :hover{
    opacity: 0.9;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: snow;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0 15px;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a :hover {
    opacity: 1;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}
.fod{
    text-align: center;
    justify-content: center;
    border: 2px solid snow;
    align-items: center;
}
nav{
    height: 80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 1px;
}
nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
}
nav ul{  
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 40px 0;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active{
    background: #fff;
    color: #273746  ;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.h2{
    text-align: center;
    border: 3px solid snow;
    color: blanchedalmond;
}
#click {
    display: none;
}
@media (max-width: 310px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        transition: all 0.3 ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
        text-align: center;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
        border: 1px solid white;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;
    }

}